@charset "utf-8";


/************************************
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
************************************/

/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*行の高さをフォントサイズと同じにしています*/
body {
    line-height:1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
nav ul {
    list-style:none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
    quotes:none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
    text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
    border-collapse:collapse;
    border-spacing:0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
    vertical-align:middle;
}

/*画像を縦に並べたときに余白が出てしまわないように*/
img {
　　　vertical-align: top;
　　　font-size:0;
　　　line-height: 0;
}

/************************************
End: html5doctor.com Reset Stylesheet
*************************************/

* {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
  letter-spacing: 1px;
  line-height: 1.8em;
  color: #fff;
}
body{
  background-color:#999;
  -webkit-text-size-adjust: 100%;/*文字サイズの自動調整をオフ*/
  overflow: hidden;
}
html {
  overflow: auto;
  height: 100%;
}

.alt {
  text-indent: -9999px;
  font-size: 0px;
  line-height: 0;
}
.clear {
  clear: both;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
.clear {
  clear:both;
}

.clearfix:after {  
    content: ".";  
     display: block;       
   visibility: hidden;  
    height: 0.1px;  
    font-size: 0.1em;  
     line-height: 0;  
   clear: both;  
 }

.shadow {
  -webkit-box-shadow:0px 0px 10px 0px #000; /* Safari, Chrome逕ｨ */
  -moz-box-shadow:0px 0px 10px 0px #000; /* Firefox逕ｨ */
  box-shadow:0px 0px 10px 0px #000; /* CSS3 */
}

div{box-sizing: border-box;}


div.wrapper{
  width:100%;
  background: #fff;
}
div.container{
  width:100%;
  max-width: 1024px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}


body{
  background-color: #000;
}

.fade{animation: fadeIn 4s ease 0.3s 1 normal;}

@keyframes fadeIn { /*animetion-nameで設定した値を書く*/

  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/

  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/

}


/*ここから*/
div.headerWrapper{
  background-image: url(../img/image01.jpg);
  height: 790px;
  background-size: cover;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
div.aboutContainer{
  display: flex;
  justify-content: space-around;
}

div.headerWrapper h1{
  font-size: 450%;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 330px;
  color: white;
}

/*ここからabout*/
.aboutWrapper{
  padding-top: 155px;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.aboutWrapper h2{
  color: white;
  font-size: 160%;
  padding-bottom: 25px;
  letter-spacing: 7px;
}

.aboutWrapper h3{
  font-size: 120%;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.aboutText p{
  font-size: 100%;
  color: #c9caca;
  width: 450px;
  padding-bottom: 45px;
  letter-spacing: 2px;
}
.aboutRight{
  display: block; 
  margin-left: 100px;
}
.date{
  border: 3px solid skyblue;
  width: 110px;
  height: 105px;
  padding-left: 40px;
  position: relative;
}
.dateText{
  /*float: right;*/
  margin-left: 90px;
  margin-top: 30px;
  
  letter-spacing: 2px;
}
.dateText p{
  position: absolute;
  left: 123px;
  bottom: 3px;
}
.number{
  font-size: 70px;
  position: absolute;
  top: -12px;
  left: 25px;
}

div.aboutRight{
  width: 100%;
}
div.aboutRight img{
  width: 300px;
}


/*ここからbox*/
div.boxTitle{
  max-width: 75%;
  margin: 0 auto;
  margin-top: 150px;
}
div.boxTitle h2{
  font-size: 200%;
}

ul.boxWrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 200px;
  max-width: 80%;
  margin: 0 auto;
}

ul.boxWrapper li.box{
  width: 28%;
  display: block;
  background-color: #111;
  /*box-shadow: 2px 4px 9px 2px rgba(0,0,0,0.2);*/
  border-radius: 10px;
  margin: 0 0.5% 0 0.5%;
  margin-bottom: 50px;
  overflow: hidden;
  margin: 25px;
}

ul.boxWrapper li.box a{
  text-decoration: none;
  color: white;
}

ul.boxWrapper li.box .image img{    
    width: 100%;    
    display: block;
    transition: all .5s;
    transform-origin: bottom;
    height: 170px;
}

ul.boxWrapper li.box .image img:hover{transform: scale(1.2);}

ul.boxWrapper li.box .textContainer{
  padding: 0 25px;
}

ul.boxWrapper li.box .textContainer a{
  font-size: 150%;
  display: block;
  padding-top: 10px;
  font-weight: bold;
  transition: all .5s;
}

ul.boxWrapper li.box .textContainer a:hover{
  opacity: 0.6;
}

ul.boxWrapper li.box .textContainer .subtitle{
  font-size: 90%;
  color: #777;
  display: block;
  padding: 0px 0 10px 0;
  margin: 0;
}

ul.boxWrapper li.box .textContainer .text{
  font-size: 80%;
  padding-bottom: 20px;
  margin: 0;
  color: #777;
}

ul.boxWrapper li.box .hashtagArea{
  padding-bottom: 30px;
}

ul.boxWrapper li.box .hashtagArea a{
  margin-bottom: 8px;
  display:inline-block;
  padding:6px 20px;
  font-size: 84%;
  background-color: #eff8fe;
  border-radius: 100px;
  border: #1c9bd6 solid 2px;
  color: #1c9bd6;
  font-weight: normal;
}

ul.boxWrapper li.box .hashtagArea a:hover{
  color: #fff;
  border: #1c9bd6 solid 2px;
  background-color: #1c9bd6;
  opacity: 1;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  
  ul.boxWrapper li.box {
    width: 43%;
  }
  .aboutRight {
    margin-left: 10px;
  }

}/*@media screen and (min-width: 480px) and (max-width: 1024px) */

@media screen and (max-width: 479px) {

  div.headerWrapper{
    height: 400px;
  }
  div.headerWrapper h1{
    font-size: 250%;
    padding-top: 170px;
  }
  .aboutWrapper {
    padding-top: 65px;
  }
   
  ul.boxWrapper li.box {
    width: 100%;
  }
  div.aboutContainer{
    flex-direction: column;
  }
  ul.boxWrapper{
    max-width: 90%;
  }
  div.boxTitle{
    margin-top: 160px;
  }
  div.boxTitle h2{
    text-align: center;
  }
  .aboutWrapper h2{
    text-align: center;
  }
  .aboutWrapper h3{
    text-align: center;
  }
  .aboutText p{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .date{
    margin-right: auto;
    margin-left: 50px;
  }
  .aboutRight{
    margin-left: 0;
    margin-top: 60px;
  }


}/*@media screen and (max-width: 479px)*/


/*footer*/

.footer{
  background-color: #111;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.footer .footerContainer{
  max-width:80%;
  margin: 0 auto; 
}

.footer .footerContainer .footerTop ul .title a{
  font-size: 100%;
  color: white;
  padding: 0 0 20px 0;
}

.footer .footerContainer .footerTop ul li{
  list-style: none; 
}

.footer .footerContainer .footerTop ul li a{
  text-decoration: none;
  color: #888;
  padding-top: 18px;
    display: block;
    font-size: 80%;
    transition: all .5s;
}

.footer .footerContainer .footerTop ul li a:hover{
  opacity: 0.6;
}

.footer .footerContainer .footerTop{
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer .footerContainer .footerTop ul li{
}

.footer .footerContainer .footerTop .left{
  width: 21%;
  padding-left: 0;
}

.footer .footerContainer .footerTop .left li a img{
  width: 80%;
  transition: all .5s;
}

.footer .footerContainer .footerTop .left li a img:hover{
  opacity: 0.9;
}

.footer .footerContainer .footerTop .left .address{
  font-size: 65%;
  color: #ccc;
  padding-top: 85px;
}

.footer .footerContainer .footerBottom{
  color: white;
  display: flex;
  justify-content: space-between;
  border-top: #555 solid .5px;
  padding-top: 20px;
  margin-top: 30px;
}

.footer .footerContainer .footerBottom ul{
  display: flex;
  padding-left: 0;
  color: #ccc;
}

.footer .footerContainer .footerBottom ul li{
  list-style: none;
  padding-right: 30px;
  font-size: 80%; 
}
.footer .footerContainer .footerBottom ul li a{
  color: #ccc;
  text-decoration: none;
  transition: all .5s;
}
.footer .footerContainer .footerBottom ul li a:hover{
  opacity: 0.6;
}

.footer .footerContainer .footerBottom small{
  line-height: 45px;
  color: #888;
  font-size: 60%;
}


/*@media screen and (min-width: 480px) and (max-width: 1024px) {

  .footer .footerContainer .footerTop ul li a {
    padding-top: 24px;
  }

}*//*@media screen and (min-width: 480px) and (max-width: 1024px) */


@media screen and (max-width: 960px) {

  .footer .footerContainer .footerTop .news{
    display: none;
  }

  .footer .footerContainer .footerTop .survies{
    display: none;
  }

  .footer .footerContainer .footerTop .product{
    display: none;
  }

  .footer .footerContainer .footerTop .company{
    display: none;
  }

  .footer .footerContainer .footerTop .contact{
    display: none;
  }

  .footer .footerContainer .footerTop .left{
    width: 100%;
      text-align: center;
  }

  .footer .footerContainer .footerTop .left li img{
    width: 80%;
    max-width: 350px;
  }

  .footer .footerContainer .footerTop .left .address{
    width: 80%;
      margin: 0 auto;
      padding-top: 40px;
  }

  .footer .footerContainer .footerBottom ul li{
    padding-right: 0;
    padding-top: 20px;
  }

  .footer .footerContainer .footerBottom{
    flex-direction: column;
  }

  .footer .footerContainer .footerBottom ul{
    flex-direction: column;
    text-align: center;
  }

  .footer .footerContainer .footerBottom small{
    text-align: center;
    display: block;
    padding-top: 30px;
  }

}/*@media screen and (max-width: 479px)*/



/*----------------------ここからpages----------------------*/

div.mainWrapper{
  background-image:url(../img/pagesImg/image04.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 600px;
}

div.newsWrapper{
  width: 100%;
  margin: 120px 0 100px 0;}
ul.newsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  justify-content: space-around;
  list-style: none;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  padding: 60px 0px;
}

ul.newsContainer li{
  width: 18%;
  border-right: solid 1px #666;
  padding-right: 50px;
}
ul.newsContainer li:last-of-type{
  border-right: none;
  padding-right: 0;
}

ul.newsContainer li img{
  width: 100%;
}
ul.newsContainer li h2{
  font-weight: bold;
  font-size: 130%;
  letter-spacing: 1px;
}
ul.newsContainer li div.title{
  display: flex;
  margin: 20px 0;
}
ul.newsContainer li div.title p{
  font-size:75%;
}
ul.newsContainer li div.title span{
  border-top: solid 1px #666;
  display: block;
  width: 47px;
  margin-left: 10px;
  margin-top: 11px;
}
ul.newsContainer li p.contentWhite{
  font-size: 80%;
  color: black;
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  margin: 25px 0;
  line-height: 17px;
}


ul.newsContainer li p.content{
  font-size: 80%;
  margin: 25px 0;
}


div.windowWrapper div.windowContainer{
  max-width: 1170px;
  margin: 0 auto;

}

div.windowWrapper div.windowContainer img{
  width: 100%;
  padding-bottom: 20px;
}
div.windowWrapper div.windowContainer p{
  font-size: 90%;
  padding-bottom: 20px;
}


@media screen and (min-width: 480px) and (max-width: 1024px){
  div.mainWrapper {
    max-width: 910px;
  }
  ul.newsContainer li {
    width: 40%;
    margin-bottom: 80px;
    padding-right: 0;
    border-right: none;
  }

  div.windowWrapper div.windowContainer {
    max-width: 910px;
  }

  ul.newsContainer {
    padding-bottom: 0;
    max-width: 910px;
  }
}

@media screen and (max-width: 479px){
  div.mainWrapper{
    height: 260px;
  }
  ul.newsContainer:last-of-type{
    padding-bottom: 0;
  }
  ul.newsContainer li {
    width: 80%;
    border-right:none;
    padding-right: 0;
    margin-bottom: 50px;
  }

  div.newsWrapper {
    margin: 60px 0 100px 0;
  }
  ul.newsContainer {
    padding: 50px 0px;
  }
  div.windowWrapper div.windowContainer p {
    width: 80%;
    margin: 0 auto;
  }
  div.windowWrapper div.windowContainer img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  ul.newsContainer li div.title span {
    width: 135px;
  }
}
















/*
@media screen and (max-width: 479px) {
  br.show_sm{display: inline-block;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  br.show_sm{display: none;}
}

@media screen and (min-width: 768px){
   br.show_sm{display: none;}
}

a:hover{
  color: #009FE8;
}
*/







